.navbar-top {
margin-left: auto;
}
.navbar .navbar-collapse {
  color: white;
}
.navbar-brand {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}
#carouselContent {
  background: grey;
}
.container-cards {
  display: inline-block;
}
h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-group {
  justify-content: space-between;
}
.button {
  color: black;
  background: transparent;
  border-radius: 20px;
}

img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row-footer {
  background: #f7f7f7;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #e5e2e2;

}
.button-footer {
  margin-left: 30px;
  margin-top: 44px;
  width: 90%;
}

.row-footer p {
  margin-top: 30px;
  margin-bottom: 30px;
}
